td.bluebox {
	background-color:#ecf5fa;
	vertical-align:top;
	padding:5px;
}

td.content {
	width:40em;
}

div.indent {
	margin-left:2em;
}

div.verbatim {
	font-family:monospace;
	background-color:#ecf5fa;
	padding:5px;
}

code {
	background-color:#ecf5fa;
}

a:link {
	color:#3f640d;
}

a:visited {
	color:#585c52;
}

